@model Course

<img src="~/img/course/@Model.Image" style="height:350px;width:350px;object-fit:cover" />
<h2>@Model.Name</h2>
<p>@Model.Description</p>
<p>About Course<br />@Model.CourseDetail.AboutCourse</p>
<p>Apply Course<br />@Model.CourseDetail.Apply</p>
<p>Certification<br />@Model.CourseDetail.Certification</p>
<p>Course Start<br />@Model.CourseDetail.Starts.ToString("dd MMMM, yyyy")</p>
<p>Duration<br />@Model.CourseDetail.Duration</p>
<p>Class Duration<br />@Model.CourseDetail.ClassDuration</p>
<p>Skill Level<br />@Model.CourseDetail.SkillLevel</p>
<p>Language<br />@Model.CourseDetail.Language</p>
<p>Student<br />@Model.CourseDetail.Student</p>
<p>Course Fee<br />@Model.CourseDetail.CourseFee</p>





<a asp-action="Index" class="btn btn-secondary">Go Back</a>

  