@model Cash

<div class="row">
	<div class="col-12">

		<div class="card text-center">
			<div class="card-header">CASH</div>
			<div class="card-body">
				<p class="card-text">By - @Model.By</p>
				<p class="card-text">Description - @Model.Description</p>
				<p class="card-text">Time - @Model.CreatedTime</p>
				<p class="card-text">Amount - @Model.LastModifiedMoney</p>
				<p class="btn btn-primary">@Model.Balance$</p>
			</div>
		</div>

	</div>
</div>

<div class="row" style="padding:50px 0">
	<div class="col-3">
		<div style="background-color:blue; border-radius:5px;">
			<h3 style="text-align:center;color:white;">Salary</h3>
			<h6 style="text-align:center;color:white;">@ViewBag.TotalSalary$</h6>
		</div>
	</div>

	<div class="col-3">
		<div style="background-color:red; border-radius:5px;">
			<h3 style="text-align:center;color:white;">Cost</h3>
			<h6 style="text-align:center;color:white;">@ViewBag.TotalCost$</h6>
		</div>
	</div>

	<div class="col-3">
		<div style="background-color:green; border-radius:5px;">
			<h3 style="text-align:center;color:white;">Profit</h3>
			<h6 style="text-align:center;color:white;">@ViewBag.TotalProfit$</h6>
		</div>
	</div>
</div>

