@model List<Blog>


<div class="blog-sidebar right">
    <div class="single-blog-widget mb-47">
        <h3>search</h3>
        <div class="blog-search">
            <form id="search" action="#">
                <input type="search" placeholder="Search..." name="search" />
                <button type="submit">
                    <span><i class="fa fa-search"></i></span>
                </button>
            </form>
        </div>
    </div>
   
    <div class="single-blog-widget mb-47">
        <div class="single-blog-banner">
            <a href="blog-details.html" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
            <h2>best<br> eductaion<br> theme</h2>
        </div>
    </div>

    <div class="single-blog-widget mb-47">
        <h3>latest post</h3>
        @foreach (Blog blog in Model)
        {
            <div class="single-post mb-30">
                <div class="single-post-img">
                    <a asp-controller="Blogs" asp-action="Detail" asp-route-id="@blog.Id">
                        <img src="~/img/blog/@blog.Image" style="height:84px;width:95px; object-fit:cover;" alt="post">
                        <div class="blog-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </a>
                </div>
                <div class="single-post-content">
                    <h4><a asp-controller="Blogs" asp-action="Detail" asp-route-id="@blog.Id">@blog.Title</a></h4>
                    <p>By @blog.By  /  @blog.CreatedTime.ToString("dd MMMM, yyyy")</p>
                </div>
            </div>
        }


    </div>

    <div class="single-blog-widget">
        <h3>tags</h3>
        <div class="single-tag">
            <a class="mr-10 mb-10">course</a>
            <a class="mr-10 mb-10">education</a>
            <a class="mb-10">teachers</a>
            <a class="mr-10">learning</a>
            <a class="mr-10">university</a>
            <a class="mr-10">events</a>
        </div>
    </div>
</div>

